.profile-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.profile-card {
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.profile-card:hover {
    transform: translateY(-2px);
}

.card h2 {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #2c3e50;
    font-size: 1.4rem;
}


.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
    font-weight: 700;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 70%; /* Главное изменение */
    max-width: 300px;
    margin: 0 auto 10px auto; /* Центрирование */
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
    display: block;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.error-message {
    color: #e74c3c;
    font-size: 0.9rem;
    margin-top: 4px;
}

.btn-primary {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #2980b9;
}
