{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт анализов{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="top-nav">
        <div class="nav-bar">

            {% if user.is_authenticated %}
                <span class="user-greeting">Привет, {{ user.username }}</span>
                <a href="{% url 'app:index' %}" class="btn btn-primary">🏠 На главную</a>
                <a href="{% url 'app:profile' %}" class="btn btn-primary">👤 Профиль</a>
                <a href="{% url 'app:logout' %}" class="btn btn-primary">🔚 Выйти</a>
            {% else %}
                <span class="user-greeting">Добро пожаловать!</span>
                <a href="{% url 'app:login' %}" class="btn btn-primary">🔐 Войти</a>
                <a href="{% url 'app:register' %}" class="btn btn-primary">🧑‍⚕️ Регистрация</a>
            {% endif %}
        </div>
    </nav>

    <hr style="margin-top: 60px; border-width: 1px; border-color: #ddd;">

    {% block content %}
    {% endblock %}
</body>
</html>
